<!DOCTYPE html>
<html>
<head>
    <title>Rain Prediction Result</title>
</head>
<body>

<h2>No chances of rain today, enjoy your outing 🌞</h2>

<img src="{{ url_for('static', filename='images/nochance.png') }}" class="main-image">
<div class="bg-yellow-900/30 rounded-2xl p-6 border border-yellow-700">
            <h2 class="text-xl font-bold text-yellow-300 mb-4">
                Recommended Agricultural Actions
            </h2>

            <ul class="space-y-3 text-slate-300">
                <li>• Schedule irrigation immediately</li>
                <li>• Safe window for fertilizer application</li>
                <li>• Begin tilling and planting operations</li>
                <li>• Monitor soil moisture regularly</li>
            </ul>
        </div>


<a href="/">Go Back</a>

</body>
</html>